
<div class="post-nav-item">
</div>
<h3>Comments</h3>
<p>Write with the <em>gentleness</em> and <em>respect</em> you would show a parent or grandparent.</p>
<script src="https://utteranc.es/client.js"
        repo="alecsatin/ll2-comments"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<p><div class="alert alert-note">
<p><small>When you comment for the first time you will be prompted to create a Github account and authorize the "utteranc.es" app.  Both github.com and utteranc.es are safe.</small> </p>
</div>
