<footer class="site-footer">
  {{ with .Site.GetPage "privacy.md" }}
  <p class="powered-by">
    {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
  </p>
  {{ end }}

<p class="powered-by">
<a href="/feed.xml">Subscribe here (RSS)</a> or <a href="/subscribe/">here (email),</a> if you'd like to be notified of new posts.
</p>
  <p class="powered-by">
    {{ with .Site.Copyright }}{{ . | markdownify}} &middot; {{ end }}

    Powered by the
    <a href="https://sourcethemes.com/academic/" target="_blank" rel="noopener">Academic theme</a> for
    <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a>.

    {{ if ne .Type "docs" }}
    <span class="float-right" aria-hidden="true">
      <a href="#" id="back_to_top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
    {{ end }}
  </p>
</footer>
