{{ $is_list := .is_list }}
{{ $ := .content }}
<div class="article-metadata">
  <span class="article-date">
    {{ if ne $.Params.Lastmod $.Params.Date }}
        {{ i18n "last_updated" }}
    {{ end }}
    <meta content="{{ $.Params.Date }}" itemprop="datePublished">
    <time datetime="{{ $.Params.LastMod }}" itemprop="dateModified">
      {{ $.Lastmod.Format $.Site.Params.date_format }}
    </time>
  </span>
  <span itemscope itemprop="publisher" itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{ $.Site.Params.name }}">
  </span>

  {{ if and (eq $.Type "post") (not (or (eq $.Site.Params.reading_time false) (eq $.Params.reading_time false))) }}
  <span class="middot-divider"></span>
  <span class="article-reading-time">
    {{ $.ReadingTime }} {{ i18n "minute_read" }}
  </span>
  {{ end }}


  {{ if $.Params.authors }}
  {{ $authorsLen:= len $.Params.authors }}
  {{ if gt $authorsLen 0 }}
  <br />
  <span class="article-categories">
    <i class="fas fa-user"></i>
    {{ range $k, $v := $.Params.authors }}
    <a href="{{ ($.Site.GetPage (printf "authors/%s" .)).RelPermalink }}">{{ . }}</a>
    {{- if lt $k (sub $authorsLen 1) -}}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}

  {{ if $.Params.titles }}
  {{ $titlesLen:= len $.Params.titles }}
  {{ if gt $titlesLen 0 }}
  <br />
  <span class="article-categories">
    <i class="fas fa-book"></i>
    {{ range $k, $v := $.Params.titles }}
    {{ . }}
    {{- if lt $k (sub $titlesLen 1) -}}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}

  {{ if $.Params.origpublishers }}
  {{ $origpublishersLen:= len $.Params.origpublishers }}
  {{ if gt $origpublishersLen 0 }}
  <br />
  <span class="article-categories">
    <i class="fas fa-building"></i>
    {{ range $k, $v := $.Params.origpublishers }}
    <a href="{{ ($.Site.GetPage (printf "origpublishers/%s" .)).RelPermalink }}">{{ . }}</a>
    {{- if lt $k (sub $origpublishersLen 1) -}}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}

  {{ if $.Params.origdates }}
  {{ $origdatesLen:= len $.Params.origdates }}
  {{ if gt $origdatesLen 0 }}
  <span class="middot-divider"></span>
  <span class="article-categories">
    <i class="fas fa-calendar"></i>
    {{ range $k, $v := $.Params.origdates }}
    <a href="{{ ($.Site.GetPage (printf "origdates/%s" .)).RelPermalink }}">{{ . }}</a>
    {{- if lt $k (sub $origdatesLen 1) -}}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}

  {{ if $.Params.synods }}
  {{ $synodsLen:= len $.Params.synods }}
  {{ if gt $synodsLen 0 }}
  <span class="middot-divider"></span>
  <span class="article-categories">
    <i class="fas fa-church"></i>
    {{ range $k, $v := $.Params.synods }}
    <a href="{{ ($.Site.GetPage (printf "synods/%s" .)).RelPermalink }}">{{ . }}</a>
    {{- if lt $k (sub $synodsLen 1) -}}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}

  {{ if $.Params.categories }}
  {{ $categoriesLen := len $.Params.categories }}
  {{ if gt $categoriesLen 0 }}
  <br />
  <span class="article-categories">
    <i class="fas fa-layer-group"></i>
    {{ range $k, $v := $.Params.categories }}
    <a href="{{ ($.Site.GetPage (printf "categories/%s" .)).RelPermalink }}">{{ . }}</a>
    {{- if lt $k (sub $categoriesLen 1) -}}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}
  
  {{ if $.Params.tags }}
  {{ $tagsLen := len $.Params.tags }}
  {{ if gt $tagsLen 0 }}
  <span class="middot-divider"></span>
  <span class="article-tags">
    <i class="fas fa-tags"></i>
    {{ range $k, $v := $.Params.tags }}
    <a href="{{ ($.Site.GetPage (printf "tags/%s" .)).RelPermalink }}">{{ . }}</a>
    {{- if lt $k (sub $tagsLen 1) -}}, {{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}
  {{ if ne $is_list 1 }}
  {{ partial "share.html" $ }}
  {{ end }}

</div>
