
<p><strong>Reminiscences of Lutheran Ministers Series</strong><p>
<br />
<p>"Among our earlier ministers, the fathers of the American Lutheran Church… we can point to many bright names, which Christians of any denomination might be proud to recognize as their own…

"Men distinguished for high talent, great learning, devoted piety, ardent zeal and noble spirit, who were appreciated by their contemporaries, and labored assiduously for the elevation of the race, and the extension of the Redeemer's kingdom." – Charles Krauth</p> 
<br />
