
<p>By God's grace, each week LutheranLibrary.org will present a new message on the basics of the Evangelical Christian Faith. Our guide is the Small Catechism, as expounded by Traditional Pastor Robert Golladay.
<em>May this series bless and inspire you.</em></p>

